<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.3">
    <title>Vor Frue Arkiv</title>
    <link rel="icon" type="image/x-icon" href="/kors.ico">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main">
        <div style="float:right;">
            <a href="https://kjaeldgaard.com/add"><button class="knap">Tilføj ny node</button></a>
            <a href="https://kjaeldgaard.com/vorfrue"><button class="knap">Almindelig side</button></a>
        </div>
        <br><h1>Vor Frues Arkiv</h1><br>
        <div>
            <table id="noder" class="stripe">
                <thead id="heads"><tr>
                    <th>Skuffe</th>
                    <th>Nummer</th>
                    <th>Besætning</th>
                    <th>Komponist</th>
                    <th>Titel</th>
                    <th class="this"></th>
                </tr></thead>
                <tbody>
                <% for (var i = 0; i < data.length; i++) { %>
                    <% if (data[i].ude === 1){ %> <tr style="background-color: rgb(255, 148, 148)" id = "tr<%= data[i].id %>"><% } else { %>
                    <tr id="tr<%= data[i].id %>"> <% } %>
                        <td><%= data[i].skuffe %></td>
                        <td><%= data[i].journalnr %></td>
                        <td><%= data[i].stemmer %></td>
                        <td><%= data[i].komponist %></td>
                        <td><%= data[i].titel %></td>
                        <td style="text-align: right">
                            <button id = "<%= data[i].id %>" class="aknap" type="button" onclick="mark(this.id)">Markér</button><br>
                            <button id = "<%= data[i].id %>" class="aknap" type="button" onclick="del(this.id)">Slet</button><br>
                            <a href="https://kjaeldgaard.com/edit?id=<%= data[i].id %>"><button class="aknap">Rediger</button></a>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>